[program:uptime]
command         = /bin/bash -c "sh {{ galaxy_gravity_state_dir }}/uptime.sh"
umask           = 022
autostart       = true
autorestart     = true
user            = galaxy
stopasgroup     = true
killasgroup     = true
stopsignal      = KILL
stdout_logfile  = {{ galaxy_gravity_state_dir }}/log/uptime_service.log
redirect_stderr = true
